<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link type = "text/css" rel="stylesheet" href="/stylesheets/debug2.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pep/0.4.0/jquery.pep.min.js"></script>
	<script src = "/scripts/test.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<h1>Flint</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content" id="mainpage">
		{% for movie in movies %}
			<div class = "centered poster hidden text-center" draggable = "true">
				<img src = "{{ movie.poster }}" class="fl" />
				<p class="fl bold">{{ movie.title }}</p>
				<p class="fl">
					{% for person in movie.cast %}
						<span>{{ person.name }}</span>
						{% if not loop.last %}
						,
						{% endif %}
					{% endfor %}
				</p>
			</div>
			<!-- <div class = "column centered" draggable="true">A</div> -->
		{% endfor %}
	</div><!-- /content -->	

	<!--<div class="bottomed">
		<h4>Page Footer</h4>
	</div> /footer -->
</div><!-- /page -->

</body>
</html>